html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  overflow: hidden;
}

#pageTitle {
  text-align: center;
  margin: 10px 0;
  font-size: 28px;
}

#mainWrapper {
  display: flex;
  height: calc(100% - 60px); /* leave space for title */
}

#scrollArea {
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 5px;
  max-width: 650px;
  background: #eef;
  height: 100%;
}

#machineStatus {
  max-width: none;
}

.card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 40px;
  width: 100%;
  max-width: 600px;
}

.chart-container {
  width: 100%;
  height: 350px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.low-space {
  color: red;
  font-weight: bold;
}

.disk-item {
  margin-left: 5px;
}

/* Disk Panel */
#diskPanel {
  width: 400px;
  background: #f0f0f0;
  border-left: 1px solid #ccc;
  padding: 10px;
  overflow-y: auto;
  height: auto;
}

#diskPanel h3 {
  margin-top: 0px;
}

#diskList {
  font-family: monospace;
  font-size: 13px;
}

.disk-entry {
  margin-bottom: 6px;
}

#diskSort {
  margin-bottom: 8px;
  width: 100%;
}

.disk-group {
  margin-bottom: 12px;
}

.disk-sub {
  margin-left: 15px;
  font-size: 13px;
}

/* RAM Panel */
#ramPanel {
  width: 300px;
  background: #f0f0f0;
  border-left: 1px solid #ccc;
  padding: 10px;
  overflow-y: auto;
  height: 100%;
}

#ramPanel h3 {
  margin-top: 0;
}

#ramList {
  font-family: monospace;
  font-size: 13px;
}

.ram-entry {
  margin-bottom: 6px;
}

#ramSort {
  margin-bottom: 8px;
  width: 100%;
}

/* Status Panel */
#statusPanel {
  width: 330px;
  background: #f0f0f0;
  border-left: 1px solid #ccc;
  padding: 10px;
  overflow-y: auto;
}

#statusPanel h3 {
  margin-top: 0;
}

#statusList {
  font-family: monospace;
  font-size: 13px;
}

.status-entry {
  margin-bottom: 14px;
  background: white;
  border-radius: 6px;
  padding: 6px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

.status-label {
  font-weight: bold;
  margin-bottom: 3px;
}

.bar {
  background-color: #ccc;
  height: 12px;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
}

.bar-fill {
  height: 100%;
  text-align: right;
  color: white;
  font-size: 10px;
  padding-right: 5px;
  line-height: 12px;
  border-radius: 6px;
}